{
    "presets": [
        "env"
    ],
    "plugins": [
        "transform-object-rest-spread",
        ["component", [
        {
          "libraryName": "mint-ui",
          "style": true
        }
      ]]]
}
